/* responsive styling is arranged mobile-first! */

body {
    font-family: Futura, 'Nunito Sans',  sans-serif;
    font-size: 0.75rem;
    color: #111111;
    background: #ffffff;
}

a:link, a:visited {
    text-decoration: none;
}

h1 {
    font-weight: 800;
}

span > strong {
    font-size: 1.25em;
}

hr {
    width: 80%;
    border: 0;
    height: 1px;
    background: #e7e7e7;
}

#wrapper {
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
    padding: 25px;
}

/*---- colours ----*/

.blue {
    color: #0c2386;
}

.red, .active {
    color: #f6372a;
}

.insta {
    color: #8a3ab9;
}

.grey, .inactive .fa-map-marker {
    color: #7e7e7e;
}

/*---- header ----*/

.header {
    width: 100%;
}

.title {
    font-size: 1.2em;
    padding-left: 5px;
}

.social-fluid {
    display: block;
    height: 20px;
    padding: 5px 0 5px 5px;
}

.fb-fluid, .tw-fluid {
    float: left;
    height: 20px;
}

.fb-fluid {
    margin-right: 10px;
}

/*---- page content ----*/

.content {
    margin-top: 10px;
    margin-bottom: 40px;
}

.park-name, .park-stat {
    font-size: 1.15em;
}

.park-name {
    width: 100%;
}

/*---- footer and tagline ----*/

.footer {
    width: 100%;
    text-align: center;
}

.tagline {
    font-size: 0.85em;
}

.ig-icon {
    font-size: 18px;
}


/*---- desktop breakpoints ----*/

@media (min-width: 451px) {

    /*---- page content ----*/

    .park-name, .park-stat {
        font-size: 1.1em;
    }
}

@media (min-width: 600px) {

    body {
        font-size: 1rem;
    }

    /*---- header ----*/

    .title {
        display: inline-block;
    }

    .social-fluid {
        float: right;
        height: 0;
        padding: 46px 0 0 0;
        margin-bottom: 0;
    }

    .fb-fluid, .tw-fluid {
        display: inline;
    }

    .fb-fluid {
        line-height: 20px;
    }
    
    /*---- footer and tagline ----*/

    .tagline {
        font-size: 1em;
    }
}
