body {
    font-family: Futura, 'Nunito Sans',  sans-serif;
}

a, a:visited {
    text-decoration: none;
}

h4 strong {
    font-size: 1.25em;
}

#wrapper {
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
    padding: 25px;
}

/*---- header ----*/

.social {
    float: right;
}

.fb-share-button {
    display: inline;
    line-height: 21px;
}

.tw-share-button {
    display: inline;
}

/*---- page content ----*/

.content {
    margin-top: 40px;
    margin-bottom: 20px;
}

.park-name {
    width: 100%;
}

/*---- footer and tagline ----*/

.footer {
    width: 100%;
    text-align: center;
}

.ig-icon {
    font-size: 18px;
}
