#wrapper {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 25px;
}

h4 strong {
    font-size: 1.5em;
}

.content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer {
    width: 100%;
}

.footer-txt {
    text-align: center;
}

.header {
    position: relative;
}

.horizontal-list {
    display: inline;
    list-style: none;
}

.park-name {
    width: 100%;
}
